transformers
onnx==1.15.0
onnxruntime==1.17.0
onnxruntime-gpu==1.17.0
diffusers
onnx_graphsurgeon
polygraphy
peft
colored
torch
torchvision
optimum
optimum[exporters]
ip_adapter
accelerate
datasets
opencv-python
einops
numpy==1.26
